.rect-node{
  width: 180px;
  height: 30px;
  background: #9ca8b3;
  transform: translate(10px, -50px);
}
.triangle-node-right {
  background-color: "#9ca8b3";
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 50px 80px 50px;
  border-color: transparent transparent green transparent;
  float: left;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.triangle-node-left {
  background-color: "#9ca8b3";
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 50px 80px 50px;
  border-color: transparent transparent green transparent;
  float: left;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.rect-node-top{
  width: 180px;
  height: 30px;
  background: green;
  transform: translate(10px, -50px);
}

.rect-node-center{
  width: 30px;
  height: 60px;
  background: green;
  transform: translate(85px, -50px);
}

.triangle-node-text {
  text-align: center;
  top: 40px;
  left: -23px;
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0px;
}