.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.2s;
}

.modal.active{
    transform: scale(1);
    pointer-events: all;
}

.modal-content {
    padding: 20px;
    background-color: gray;
}